*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;

}
body{	
    font-size: 16px;
	color: #fff;
	background-color: #61122f;
	font-family: 'Oxygen', sans-serif;
	margin: 0;
}
.na {
	
	
	background-color: #f6b319;

	
    width: 100%;


}
.navbar{
	display: flex;
	background-color: #f6b319;
	width: 100%;
}
	

}
.navbar ul{
	display: flex;
	margin-right: 20px;
	font-size: 1.3em;
	justify-content: flex-end;
	text-align: right;
}
.navbar ul li{
	display: flex;
	display: inline-block;
	line-height: 80px;
	margin: 0px;
	font-family: 'Lora', serif;
	color:#61122f;
	font-size: 1.2em;
	font-weight: bold;
	align-items: center;
	/*padding: 30px 20px;*/
	justify-content: right;
	margin: 20px;
	margin-top: 50px;
}
 
.item a:hover{
	color: white;
	font-size: 100%;
}

.logo{
	display: flex;
	margin: 20px 10px;
	/*float: left;*/
}
.logo img{
	margin:0px;
	margin-top: 10px;
	margin-left: 30px;
	height: 140px;
	width: 140px;
}
.brand a{
	font-family: 'Lora', serif;
	color: #557c3e;
	text-transform: uppercase;
	font-size: 1.2em;
	font-weight: bold;
	margin: 0px;
	margin-top: 20px;
	
	display: flex;
	text-shadow: 1px 1px 1px #222;
	text-decoration: none;
	
}
.brand p{

	font-family: 'Lora', serif;
	color: #000;
	text-transform: uppercase;
	font-size: .8em;
	margin-top: 5px;
	font-weight: bold;
	margin-left: -150px;
	text-align: center;
}
.checkbtn{
	
	cursor: pointer;
    display: none;
    float: right;

}
#toggle{
    
	display: none;
}
.home{
	padding: 20px;
	padding-left: 100px;
	padding-right: 100px;
}
.home img{
	display: flex;
	width: 70%;
	box-shadow: 0 0 50px #3F0C1F;
	border: 2px solid #3F0C1F;
	padding: 20px;
	padding-left: 20px;
	padding-right: 20px;




}
.welcom  {
	display: flex;
	flex-direction: column;
	
	
	padding: 50px;
	margin-top: : -60px;
	justify-content: center;
	align-items: center;

}
.welcom .btn{
	font-size: 1.5em;
	margin-top: 20px;
	padding: 5px;
	background-color: grey;
	text-shadow:  20 20 70px #3F0C1F;
	font-weight: bold;
	cursor: pointer;
}
/*.home{
	content: "";
	background-image:url('img/res.jpg') no-repeat center center ;
	width: 100%;
	height: 100%;
	z-index: -1;

}*/
.menu_img{
	width: 100%;
	height: 100%;
	
}
.menu-1{
	margin: 30px;
	display: flex;
	display: inline-block;
	width: 100%;


margin: 30px;
margin-left: 0px;
background-color:;
margin-top: 40px;
display: flex;

cursor: pointer;	
}
.img_1{
	width: 100%;
	margin: 0px;

}
.sub-m{
	width: 100%;
  margin-top: 10px;
	display: flex;
	display: inline-block;
	justify-content: center;
	
	display: flex;
	display: grid;
	grid-template-rows: 30% 30% 30% 30%;
	grid-template-columns: repeat(2,40%);
	grid-gap: 50px;
	
	
}
.sub-1{

	width: 100%;
}
.topic{
	width: 100%;
text-align: center;
margin-left: 70px;
}
.img_1 img{
	display: flex;
	width: 100%;
}

.out_box{
	margin: 30px;
	display: flex;
	display: inline-block;
	width: 25%;
padding-bottom: 20px;

margin: 30px;
background-color:;

display: flex;
display: inline-block;
cursor: pointer;	
}
.menu_img:hover{
	box-shadow: 2px 2px 20px white;
}
.services{
	/*width: 100%
	padding:20px;
	display: flex;
	margin:0px;*/
	padding: 20px;
	padding-left: 70px;
	padding-right: 60px;
	display: flex;
	
}
.menu_tb{
	
	/*margin-top: 30px;
	margin-left: 30px;*/
	width: 33%;
    
    display: block;
    margin:0;
    padding: 30px;
    
}

.menu_tb_i{
display: flex;
height: 280px;
display: block;
margin: auto;
width: 100%;


}
.menu_tb_i:hover,.special_i:hover,.map_i:hover{

}
.menu_tb h2{
	margin: 0px;
	margin-top: -30px;
	background-color: black;
	opacity: 0.7;
	width: 100%;
	text-align: center;
}
.special{
	
	/*margin-left: 30px;
	margin-top: 30px;*/
	width: 33%;
	margin:0;
	padding: 30px;
	display: block;
}
.special_i{
    
     display: flex;
height: 280px;
display: block;
margin: auto;
width: 100%;

}
.special h2{
	margin: 0px;
	margin-top: -30px;
	background-color: black;
	opacity: 0.8;
	width: 100%;
	text-align: center;
}
.map{

	/*margin-left: 30px;
	margin-top: 30px;*/
	width: 33%;
	margin:0;
	padding: 30px;
	display: block;
}
.map_i{
	display: flex;
height: 180px;
display: block;
margin: auto;
width: 100%;

}
.map h2{
	margin-left: 0px;
	margin-top: -30px;
	background-color: black;
	opacity: 0.7;
	width: 100%;
	text-align: center;
}
.conclusion{
	
	width: 100%
	padding:30px;
	display: flex;
	margin:0px;
	background-color: black;
	opacity:0.7;
	margin-top: 30px;
	
}

.first,.second, .third {
    display: block;
  
	padding: 30px;
	width: 100%;
	
}
.first h2, .second h2, .third h2{
	text-align:left;
	padding-bottom: 30px;
}
.first p, .second p, .third p{
	display: flex;
	justify-content:flex-start;
	padding-bottom: 20px;
}

/* Menu category.category{
     margin: 30px;
	display: grid;
	grid-template-rows: 300px  300px 300px 300px  300px 300px 300px  300px   ;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 20px;
}
.category h2{
	text-align: center;
	margin-top: 10px;
	display: none;
}*/
.cat_tit h1,.cat_con p{
	text-align: center;
	margin: 10px;
}
.cat_tit h1{
	margin-top: 20px;
}
.menu_card{
	width: 90%;

	display: flex;
	display: inline-block;
	justify-content: center;
	margin-left: 8%;
}
.cards{
width: 20%;
padding-bottom: 20px;
border: 2px solid black;
margin: 30px;
border-radius: 20px;
background-color: #ff6600;
box-shadow: 2px 2px 20px black;
display: flex;
display: inline-block;
cursor: pointer;
}
.cards:hover{

}

.menu_img img{
width: 100%;

}
.top h2{
	margin-top: -31px;
	margin-left: 0px;
	background-color: black;
	opacity: 0.9;
	width: 100%;
	
}
.topic{
	margin-left:20px;
	width: 100%;
	text-align: left;

	
}
.topic h2{
	
	color: white;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: -6px;

}
.desp{
	margin-top: -5px;
	color: white;
	
}
.desp button{
	padding: 5px;
	
	margin-top: 10px;
	font-size: 120%;
	cursor: pointer;
	background-color:grey; 
	box-shadow: 2px 2px 10px black;

}
.desp button:hover{
	background-color: grey;
	color:white;
}
.phone_no{
	margin-left: 220px;
	margin-right: 220px;
	padding: 10px;
	background-color: #f6b319;
	border: 2px solid black;
  position: relative;
	display: flex;
	justify-content: center;
	
	align-items: center;
	margin-top: 20px;
	cursor: pointer;
	color: black;
	font-weight: bold;
	box-shadow: 3px 3px 20px black;

}

.phone_no:hover{
	border: 2px solid white;
}

.main_contact {
	position: relative;
	display: flex;
	align-content: center;
	justify-content: center;
}
.con_str {
	margin-top: 10px;
	position: relative;
	color: #00ff00;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}
.t {
	margin-top: 10px;
	margin-left: 46%;
}
.contact{
	margin: 0px;

display: flex;
justify-content: center;
width: 40%;
align-items: center;
}
.enter{
	padding: 5px;
	margin: 10px;
	width: 90px;
	box-shadow: 2px 2px 10px solid black;
       font-size:1.3em;
       background-color:#f6b319; 
	color: black;
	font-weight: bold;
	margin-left: 47%;

	
	
}
.enter:hover{
	
	
	box-shadow: 5px 5px 20px solid black;
	cursor: pointer;

}

.contact input, .contact textarea{
	width: 100%;
	padding-bottom: 0.5rem;	
	color: black;
	font-weight: bold;
	padding: 10px;
}
.form-group{
	margin-bottom:20px;
}
.about{
	margin: auto;
	width: 100%;
}
.pic{
width: 27%;
border: 2px solid black;
margin:40px;

box-shadow: 2px 2px 10px black;
display: flex;
display: inline-block;
}
.cards:hover{

}
.pic img{
width: 100%;

}
.text{

	margin: 40px;
	font-size: 20px;

}
.about h1{
	font-size: 50px;
	text-align: center;
}

.rev-1{
	width: 95%;
	padding: 20px;
	
	color: white;
	border: 3px solid black;
	margin: 30px;
	margin-bottom: 35px;
  font-weight: bold;
}


.my_rev{
	width: 92%;
	margin: 30px;
	
	font-weight: bold;

}

.submit{
	padding: 5px;
	margin: 10px;
	width: 90px;
	box-shadow: 2px 2px 10px solid black;
       font-size:1.3em;
       background-color:#f6b319; 
	color: black;
	font-weight: bold;
	margin-left: 600px;
	
	
}
.submit:hover{
    color: white;
	box-shadow: 5px 5px 20px solid black;
	cursor: pointer;

}
@media screen and (max-width: 750px)
{  
	.services{
				width: 100%;
				display: block;
			}
			
			
			.menu_tb{
				width: 48%;
				float: right;
				margin-left:0px; 

			}
			.special{
				width: 48%;
				margin-right: 0px;
				
			}
			.map{
				width: 98%;
			}
}
@media (min-width: 501px) and (max-width: 869px){
	.navbar ul li{
		flex-direction: column;
		text-align: center;
		display: none;
	}
	#toggle:checked + .navbar ul li{
		display:flex;
		line-height: 1px;


		
		
	}
	.checkbtn{
		display: block;
		

	}
	.logo{
		display: none;
	}
	.brand{
		float: left;
		margin-left: 30px;
		margin-bottom: 10px;
	padding:0px 0px 0px 0px;
	}


	.brand a{
	
	margin-top: -40px;	
}
.item a:hover{
	color: white;
	font-size: 140%;
	
	
}
.home img{

	width: 100%;
	display: block;


}

}

@media  (min-width: 870px) and (max-width: 1040px) 
{
	.logo{
		display: none;
		margin: 5px 5px;
	}

	
}
@media screen and (max-width: 500px){
	.navbar ul li{
		flex-direction: column;
		text-align: center;
		display: none;
	}
	#toggle:checked + .navbar ul li{
		display:flex;
		line-height: 1px;
		width: 100%;



		
		
	}
	.checkbtn{
		display: block;
		

	}
	.logo{
		display: none;
	}
	.brand{
		font-size: 80%;
		float: left;
		margin-left: 10px;
		margin-bottom: 10px;
	padding:0px 0px 0px 0px;
	}
	

	.brand a{
	
	margin-top: -40px;	
}
.brand p{
	margin-left: -116px;
}
.item a:hover{
	color: white;
	font-size: 100%;
	
	
}
.home img{

	width: 100%;
	display: block;

}

}
@media  screen and (min-width: 870px){
	.home img{
height: 800px;
	width: 100%;
	display: block;

}

}
@media screen and (max-width:600px){
				.services{
					
					display: flex;
					flex-direction: column;
				}
				.menu_tb,.special,.map{
					margin-right: 0px;
					margin-left: 13%;
					display: flex;
					flex-direction: column;
					width: 70%;

				}
				.conclusion{
					display: flex;
					flex-direction: column;

				}
				.first,.second,.third{
					display: flex;
					flex-direction: column;
				   justify-content: center;
				   
				   border-bottom: 2px solid white;

				}
				.first h2, .second h2, .third h2{
	text-align:center;
	
}
.first p, .second p, .third p{
	display: flex;
	justify-content:center;
	
}
		
		

	}
